<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>
<title>profile</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" th:href="@{/css/w3.css}" type='text/css'>
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css" th:href="@{/css/w3-theme-blue-grey.css}" type='text/css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
<link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}" type='text/css'>
<link rel="stylesheet"  th:href="@{/css/profile.css}" type='text/css'>
<style type="text/css">
.bg-gray {background:#f9f8f2;color:#696969;}
.shadow1 {    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
img {width:100%}
.car-details li {
    border-right: 1px solid #eeeeee;
    margin: 0 !important;
    padding: 0 10px;
    font-size:18px;
}
.car-details li small {
    display: block;
    line-height: 1;
    font-size: 14px;
}
.car-details li .fa {
    color: #dd0000;
    float: left;
    font-size: 18px;
    margin: 10px 10px 20px 0;
}
</style>

<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  
  <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    <!--  img src="/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar" -->
    Logout
  </a>
  
  <a href="/profile" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    Add New
  </a>
  <a href="/profile2" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    <!--  img src="/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar" -->
    View List
  </a>
  
 </div>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
<!--     <div class="w3-col m3"> -->
<!--       Profile -->
<!--       <div class="w3-card w3-round w3-white"> -->
<!--         <div class="w3-container"> -->
<!--          <h4 class="w3-center" th:text="${user.name}">My Profile</h4> -->
<!--          <input type="hidden" th:value="${user.gender}" autocomplete="off" id="profile_photo" > -->
<!--          <p class="w3-center"><img id="profile_pic" src="/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p> -->
<!--          <hr> -->
<!--          <p><i class="fa fa-address-card fa-fw w3-margin-right w3-text-theme"></i> <span th:text="${user.email}">Designer, UI</span></p> -->
<!--          <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> <span th:text="${user.job}">Designer, UI</span></p> -->
<!--          <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> <span th:text="${user.city}">Designer, UI</span></p> -->
<!--          <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> <span th:text="${user.job}">Designer, UI</span></p> -->
<!--          <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> <span th:text="${user.job}">Designer, UI</span></p> -->
<!--          <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> <span th:text="${user.job}">Designer, UI</span></p> -->
<!--         </div> -->
<!--       </div> -->
<!--       <br>       -->
<!--       Accordion -->
<!--     End Left Column -->
<!--     </div> -->
    
    <!-- Middle Column -->
	<div class="w3-col m9">
	
		<div class="container bg-gray ">
			<div class="row">
			   <div class="col-md-9 shadow1">
		            <div class="col-md-4">
		                <div class="list-car-img">
		                    <img class="img-responsive" src="http://yogthemes.com/engines/wp-content/uploads/2017/02/USC70ACC182A021001.png">
		                </div>
		            </div>
		            <div class="col-md-8">
		                <div class="list-car-title clearfix">
		                    <h3>Acura TLX Base 4dr Front-wheel Drive Sedan</h3>
		                    <hr>
		                </div>
		                <div class="car-details clearfix">
		                  <ul class="list-inline" >
		                    <li><i class="fa fa-road"></i>KM's<small>20</small></li>
		                    <li><i class="fa fa-car"></i>Fuel Type <small>Petrol</small></li>
		                    <li><i class="fa fa-clock-o"></i>Reg.Year <small>2016</small></li>
		                    <li><i class="fa fa-gears"></i>Transmission <small>Semi-Auto</small></li>
		                  </ul>    
		    
		            </div>
		               
		                <div class="car-bottom">
		                    <ul class="list-inline">
		                        <li><a href="#">Add to Favourites</a></li>
		                        <li><a href="#">Bid Now</a></li>
		                        <li><a href="#">Participate in Now</a></li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		
		<div class="container bg-gray ">
			<div class="row">
			   <div class="col-md-9 shadow1">
		            <div class="col-md-4">
		                <div class="list-car-img">
		                    <img class="img-responsive" src="http://yogthemes.com/engines/wp-content/uploads/2017/02/USC70ACC182A021001.png">
		                </div>
		            </div>
		            <div class="col-md-8">
		                <div class="list-car-title clearfix">
		                    <h3>Acura TLX Base 4dr Front-wheel Drive Sedan</h3>
		                    <hr>
		                </div>
		                <div class="car-details clearfix">
		                  <ul class="list-inline" >
		                    <li><i class="fa fa-road"></i>KM's<small>20</small></li>
		                    <li><i class="fa fa-car"></i>Fuel Type <small>Petrol</small></li>
		                    <li><i class="fa fa-clock-o"></i>Reg.Year <small>2016</small></li>
		                    <li><i class="fa fa-gears"></i>Transmission <small>Semi-Auto</small></li>
		                  </ul>    
		    
		            </div>
		               
		                <div class="car-bottom">
		                    <ul class="list-inline">
		                        <li><a href="#">Add to Favourites</a></li>
		                        <li><a href="#">Bid Now</a></li>
		                        <li><a href="#">Participate in Now</a></li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	
	</div>
	
    <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d5">
  <h5>Footer</h5>
</footer>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script> 
<script>

(function () {

})();
</script>

</body>
</html> 
